* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color:rgb(245, 243, 243);
    
}

.grupocomados {
    display: flex;
    margin-inline: 10px;

}

.cartaocomado {
    width: calc(25% - 15px);
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 10px 5px;
}

.cartaocomado:hover{
    scale: 102.5%;
    transform: translatey(-8%);
}