* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color:rgb(231, 197, 197);
    display:  flex;
    flex-direction: column;
    margin-block: auto;
    justify-content: center;
    gap: 15px;
    
}

.grupocomados {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 10px;

}

.cartaocomado {
    width: calc(25% - 15px);
    border: 1px solid #d29722;
    border-radius: 25px;
    padding: 20px 15px;
}

.cartaocomado:hover{
    scale: 102.5%;
    transform: translatey(-5%);
}